@model LogicaProgramacao.Classes.Assembly.CustomerViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="@Url.Content("~/static/scripts/Customer.js?v=1.10")"></script>

<h2>Editar cliente</h2>

<div class="row">
    <form id="form" action="@Url.Action("PostEdit", "Customer")" method="post">
        <input hidden name="Id" value="@Model.Id"/>
        <div class="row">
            <div class="col-sm-3">
                <label>Customer Name</label>
                <input id="customer" value="@Model.CustomerName" name="CustomerName" required class="form-control" />
            </div>
            <div class="col-sm-3">
                <label>Active</label>
                <input type="checkbox" @(Model.Active ? "checked" : "") name="Active" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <button id="btnSalvar" type="button" class="btn btn-success">Atualizar</button>
                <a class="btn btn-info" href="@Url.Action("List","Customer")">Voltar</a>
                <img id="img" style="width: 150px; height: 150px;" src="@Url.Content("~/static/src/loading.gif")" />
            </div>
        </div>
    </form>
</div>

